@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
